* {
  margin: 0 auto;
  padding: 0;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'Jost', sans-serif;
}

.firstcloum {
  height: 100%;
  width: 20%;
}

.secondcloum {
  height: 100%;
  width: 80%;
}
.header {
  display: flex;
  width: 100%;
  height: 5%;
  background-color: #E3E3E3;
  align-items: center;
}

.content {
  width: 100%;
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.logout-span {
  margin-left: 7%;
  font-size: 0.8em;
}

.setting-span {
 margin-right: 7%;
 font-size: 0.8em;
}

.election-selector {
  font-size: 1.4em;

}

.namebody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: 12%;
  background-color: #EFECEC;
}

.navigation {
  width: 100%;
  height: 76%;
  background-color: #EFECEC;
}

.navigation-list {
  width: 100%;
  height: 100%;
}

.navigation-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7%;
  font-size: 1.2em;
}
.navigation-list-item:nth-child(2n-1) {
  background-color: #E4E4E4;
}

.navigation-list-item:hover {
  background-color: #c9c9c9;
  transition: 0.4s;
  transition-delay: 0.05s;
  transition-timing-function: ease-in-out;
}

.navigation-list-item a {
  text-decoration: none;
  color: black;
}
.navigation-list-item a:hover {
  text-decoration: none;
  color: black;
}
.navigation-list-item a:visited {
  text-decoration: none;
  color: black;
}

.navigation-list-item a:active {
  text-decoration: none;
  color: black;
}

.navigation-list-item a:link {
  text-decoration: none;
  color: black;
}

#active {
  border-right: 10px solid darkgrey;
  transition: 1s;
  transition-delay: 1s;
  transition-timing-function: ease-in;
}

.timefooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: 7%;
  color: black;
  /* background-color: #E3E3E3; */
}

.namebody-name {
  margin: 0;
  font-size: 1.5em;
}

.namebody-institution {
  margin: 0;
  font-size: 1em;
}

.timefooter-timestamp {
  margin: 0;
  font-size: 1.2em;
}

.timefooter-session {
  margin: 0;
  font-size: 0.8em;
}
